
/* General */
/* ------- */

body {
	font-family: $font-din-mittel;
	background: $colour-background;
	color: $colour-type-main;
}


/* Structure */
/* --------- */

#header, #controls, #vis-context-controls {
	display: flex;
}

#vis-container {
	display: flex;
	flex-direction: column;
}

#header, #controls, #vis-context-controls {
	justify-content: center;
}

#header {
	align-items: center;
}



/* Dimensions */
/* ---------- */

#header {
	border: 1px solid #ccc;
	width: 100vw;
	height: 10vh;
}

#controls {
	border: 1px solid #ccc;
	width: 100vw;
	height: 3vh;
}

#vis-container {
	border: 1px solid #ccc;
	width: 100vw;
	height: 85vh;
}

#vis-main {
	border: 1px solid #ccc;
	width: 100vw;
	height: 60vh;
}

#vis-context-controls {
	border: 1px solid #ccc;
	width: 100vw;
	height: 2vh;
}

#vis-context {
	border: 1px solid #ccc;
	width: 100vw;
	height: 23vh;
}


