

/* Structure */
/* --------- */

#controls, #vis-context-controls {
	display: flex;
}

#vis-container, #header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#header, #controls, #vis-context-controls {
	justify-content: center;
}

#header {
	align-items: center;
}



/* Dimensions */
/* ---------- */

#header {
	/* border: 1px solid #ccc; */
	width: 100vw;
	height: 9vh;
}

#controls {
	/* border: 1px solid #ccc; */
	width: 100vw;
	height: 4vh;
}

#vis-container {
	/* border: 1px solid #ccc; */
	width: 100vw;
	height: 80vh;
}

#vis-main {
	/* border: 1px solid #ccc; */
	width: 70vw;
	height: 55vh;
}

#vis-context {
	/* border: 1px solid #ccc; */
	width: 70vw;
	height: 20vh;
}

#vis-context-controls {
	/* border: 1px solid #ccc; */
	width: 70vw;
	height: 4vh;
}

#footer {
	width: 70vw;
	height: 5vh;
}

