/* Font import */

@font-face {
    font-family: DIN-Eng;
    src: url('../fonts/DIN 1451 Std Engschrift.ttf') format('truetype');
}

@font-face {
    font-family: DIN-Mittel;
    src: url('../fonts/DIN 1451 Std Mittelschrift.ttf') format('truetype');
}

/* Font variables */

$font-nunito-sans: 'Nunito Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;
$font-din-mittel: DIN-Mittel;


/* Colours */

/* black & *white* */
$colour-background: #fff;
$colour-type-main: #000;
$colour-type-light: #ccc;
$colour-type-medium: #999;
$colour-node: #000;
$colour-map-outline: #ccc;
$colour-map-countries: #dcdcdc;
$colour-highlight: #ff1493;


/* Breakpoints */

$breakpoints: (
  small: 400px,
  med: 640px,
  large: 900px,
);
