/* Typeface */
/* -------- */

/* Font import */

@font-face {
    font-family: DIN-Eng;
    src: url('../fonts/DIN 1451 Std Engschrift.ttf') format('truetype');
}

@font-face {
    font-family: DIN-Mittel;
    src: url('../fonts/DIN 1451 Std Mittelschrift.ttf') format('truetype');
}

@font-face {
    font-family: Bembo;
    src: url('../fonts/Bembo.ttf') format('truetype');
}

/* Font variables */

/* sans-serif */
$font-nunito-sans: 'Nunito Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;
$font-din-mittel: DIN-Mittel;

/* serif */
$font-bembo: Bembo;


/* Colours */
/* ------- */

$colour-background-radial-outer: #091426;
$colour-background-radial-inner: #0C2648;
$colour-type-main: #f8f8f8;
$colour-type-very-light: #f0f0f0;
$colour-type-light: #ccc;
$colour-type-minor: #6b788e;
$colour-type-medium: #999;
$colour-node: #000;
$colour-data-minor: #293e5a;
$colour-tooltip-bg: #e7edf7;
$colour-highlight: #EEEEAE;


/* Breakpoints */
/* ----------- */

$breakpoints: (
  small: 400px,
  med: 640px,
  large: 900px,
);
