
/* Map */
/* --- */

#map-g path {
	stroke-width: 1;
	stroke: $colour-data-minor;
	fill-opacity: 0;
}

/* Axes */
/* ---- */


.tick text {
  font-size: 10px;
  fill: $colour-type-minor;
  font-family: $font-nunito-sans;
  text-anchor: end;
}

.x text {
	fill: none;
}

.x.axis path {
  stroke: $colour-data-minor;
  shape-rendering: crispEdges;
}
.y.axis path {
	stroke-opacity: 0;
}
.tick line {
	stroke: $colour-data-minor;
  shape-rendering: crispEdges;
}

.x .tick line {
	stroke-width: 0;
}



