	
/* Elements */
/* -------- */

.intro-text {
	pointer-events: none;
	fill: $colour-type-main;
}

.node {
	cursor: pointer;
	fill: $colour-node;
}

.node-text {
	font-family: $font-gill-semibold;
	fill: $colour-type-main;
}

.large {
	font-size: 1.3em;
}
/* Map */
/* --- */

.map.country {
	fill: none;
	stroke-width: 1;
	stroke: $colour-map-countries;
}

.map.outline {
	fill: none;
	stroke-width: 5;
	stroke: $colour-map-outline;
}




/* Buttons */
/* ------- */

button {
	font-family: $font-din-mittel;
	font-size: 0.8em;
	color: $colour-type-medium;
	background: none;
	border: none;
	border-bottom: 1px solid $colour-type-medium;
	margin: 0 0.5rem;
	padding: 0;
	cursor: pointer;
	outline: none;
	transition: all 250ms;
}

button:hover {
	color: $colour-highlight;
	border-color: $colour-highlight;
}

button.highlight-button {
	color: $colour-type-main;
	border-bottom: 1px solid $colour-type-main;
}
